<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Saude</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <header>
        <div class="center">
            <div class="logo">
                <P>+Saude</P>
            </div>

            <nav class="desktop">
                <a href="" section="header">Início</a>
                <a href="/pagecadastrar" section="parte2">Cadastrar</a>
                <a href="/pagelogin" section="parte3">Login</a>
            </nav>

            <div class="clear"></div>
        </div>
    </header>

    <main>
        <section class="parte1">
            <div class="center">
                <div class="texto-parte1">
                    <h2>TÍTULO1</h2>
                    <p>textextxetxe textextex xetxex xtextextextxetxe textextex xetxex xtextextextxetxe textextex xetxex xtextextextxetxe textextex xetxex xtextextextxetxe textextex xetxex xtextextextextxetxe textextex xetxex xtextextextextxetxe textextex xetxex xtextextextextxetxe textextex xetxex xtex</p>
                </div>

                <div class="img-parte1">
                    <img src="imgs/img4.png" alt="">
                </div>
            </div>
        </section>

        <section class="parte2">
            <div class="center">
                <h2>TÍTULO2</h2>
                <div class="vantagens">
                    <div class="v">
                        <img src="imgs/img1.jpg">

                        <div class="descricao">
                            <h3>nome</h3>
                            <p>descrição descrição descrição descrição descrição descriçãodescrição descrição descrição descrição descrição descriçãodescrição descrição descrição descrição descrição descrição</p>
                        </div>
                    </div>

                    <div class="v">
                        <img src="imgs/img3.jpeg">

                        <div class="descricao">
                            <h3>nome</h3>
                            <p>descrição descrição descrição descrição descrição descriçãodescrição descrição descrição descrição descrição descriçãodescrição descrição descrição descrição descrição descrição</p>
                        </div>
                    </div>

                    <div class="v">
                        <img src="imgs/img5.jpeg">

                        <div class="descricao">
                            <h3>nome</h3>
                            <p>descrição descrição descrição descrição descrição descriçãodescrição descrição descrição descrição descrição descriçãodescrição descrição descrição descrição descrição descrição</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="parte3">
            <div class="center">
                <div class="fazer-curriculo">
                    <p>textextex tetxetxext txetxetxex xtetxexte etxtxetxe txtxetxe xtetxetxe xtetxetxe textextex tetxetxext txetxetxex xtetxexte etxtxetxe txtxetxe xtetxetxe xtetxetxe</p>
                     <a href="/pagelogin">LOGIN</a>

                </div>

                <div class="img-parte3">
                    <img src="imgs/img6.png" alt="">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>TODOS OS DIREITOS RESERVADOR POR:</p>
        <P> JAMYLLE FERNANDES, THAYNARA ELAYNE.</P>
    </footer>

    <div class="atalho-topo">
        <img src="imgs/topo.png" alt="">
    </div>

    <script src="../static/atalhoTopo.js"></script>
    <script src="../static/mobileMenu.js"></script>
    <script src="../static/atalhoMenu.js"></script>
</body>
</html>