<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/imc" method="post">
    <a><b>Calcular Índice de Massa Corporal (IMC)</b></a>
    <hr>
    <label>Digite o seu peso (KG)</label>
    <input type="text" name="peso" required>
    <br>
    <label>Digite a sua altura (M)</label>
    <input type="text" name="altura" required>
    <br>
    <button type="submit">Calcular IMC</button>
    <p id="mensagem">{{ mensagem }}</p>
</form>
{% if imc %}
    <h2>Seu IMC é: {{ imc }}</h2>
{% endif %}

</body>
</html>