<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="novo">
          <div class="login">
              <form action="/login" method="post">
                    <a><b>Login </b></a>
                    <hr>
                    <label>E-mail</label>
                    <input type="text" name="email" required>
                    <br>
                    <label>Senha</label>
                    <input type="password" name="senha" required>
                    <br>
                    <button type="submit">Enviar</button>

              </form>
              <p>{{msglogin}} </p>
              <a href="/pagecadastrar">CADASTRAR</a>
          </div>

      </div>
      </div>
    <script src="../static/login.js"></script>

</body>
</html>