<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
<div>
    <form action="/inserirusuario" method="post">
        <a><b>Cadastrar Novo Usuário</b></a>
        <hr>
        <label>Nome</label>
        <input type="text" name="nome" required>
        <br>
        <label>E-mail</label>
        <input type="text" name="email" required>
        <br>
        <label>Senha</label>
        <input type="password" id="senha" name="senha" required>
        <br>
        <button type="submit">Cadastrar</button>
        <p id="mensagem">{{mensagem}}</p>
    </form>
    <a href="/pagelogin">LOGIN</a>
</div>
</body>
</html>
