<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/tbm" method="post">
    <a><b>Calcular Taxa Metabólica Basal (TMB)</b></a>
    <hr>
    <label>Digite o seu peso (KG):</label>
    <input type="text" name="peso" required>
    <br>
    <label>Digite a sua altura (M)</label>
    <input type="text" name="altura" required>
    <br>
    <label>Digite a sua idade (anos):</label>
    <input type="number" name="idade" required>
    <br>
    <label>Sexo:</label>
    <select name="sexo" required>
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
    </select>
    <br>
    <button type="submit">Calcular</button>
</form>
{% if tmb %}
    <h2>Sua Taxa Metabólica Basal é: {{ tmb }}</h2>
{% endif %}

</body>
</html>